<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.dandelion.radiot"
        android:versionName="1.4"
        android:versionCode="6">
    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:anyDensity="true"/>
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name="RadiotApplication">
        <activity
                android:name=".podcasts.ui.PodcastListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Radiot"
                android:configChanges="orientation|keyboardHidden"/>
        <activity
                android:name=".podcasts.download.FakeDownloaderActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.RadiotHome"/>
        <activity
                android:name=".live.ui.LiveShowActivity"
                android:label="@string/live_show_title"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Radiot"/>
        <activity
                android:name=".home_screen.AboutAppActivity"
                android:label="@string/about_app_title"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Radiot"/>
        <activity
                android:name=".home_screen.HomeScreenActivity"
                android:theme="@style/Theme.RadiotHome"
                android:screenOrientation="portrait"
                android:launchMode="singleTask">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN"/>
                <category
                        android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".live.service.LiveShowService"/>
        <service android:name=".podcasts.download.DownloadService"/>
        <receiver android:name=".podcasts.download.DownloadNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".live.service.TimeoutReceiver">
            <intent-filter>
                <action android:name="org.dandelion.radiot.live.Timeout" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission
            android:name="android.permission.INTERNET"/>
    <uses-permission
            android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk
            android:minSdkVersion="5"/>
</manifest>